body {
  margin-top: 60px;
}

// Top Navbar

.navbar-brand-basic {
  display: inline-block;
  float: none;
  font-size: 16px;
  color: #777;
}

@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
}

// Projects Nav

.search-box {
  padding-bottom: 7px;
}

.projects-nav {
  padding-top: 30px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e8e8e8;
}

#repo-dropdown-container {
  padding: 17px;
}

#repo-input {
  width: 350px;
}

// Project

.project {
  padding-top: 15px;
  border-bottom: 1px solid #e8e8e8;
}
