.project {
  width: 225px;
  height: 225px;
  margin: 20px;
  float: left;

  border: 1px solid black;
  padding: 10px;

  list-style: none;

  input[type=text], textarea {
    border: none;
    background: none;
    box-shadow: none;

    &:focus {
      outline: none;
    }
  }

  .title-container {
    height: 25px;
    line-height: 25px;

    margin-bottom: 10px;
    border-bottom: 1px solid black;

    .project-title {
      font-size: 17px;
      font-weight: bold;
    }
  }

  .body {
    width: 100%;
    height: 165px;

    .project-content {
      width: 100%;
      height: 100%;
      resize: none;
    }
  }

  .footer {
    display: none;
  }

  &.editing {
    border-color: blue;

    .footer {
      display: block;
    }
  }
}
